.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:15rem;
    height: 23rem;
    text-align: center;
    background-color: rgb(221, 200, 173);
  }
  
  .card:hover {
    display: block;
    
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .cards {
    max-width: 1200px;
    margin: 2rem;
    grid-gap: 1rem;
    margin-top: 2rem;
    display: inline-block;
  }

  .img {
      width: 14.5rem;
      height: 9rem;
      border:solid;
  }